
<br><br>
<h4>Recomendations</h4>
<br><br>
    <br><br>
    {{#if x}}
    <div class="col-md-3">
        <div class="vuelos">
            <div class="cuerpo">
                <h5 class="nombre">
                  Some recomendations we have for you
                </h5>
                <br><br>
                <p>{{x}}</p>
                <br><br>
            </div>
        </div>
    </div>
    {{/if}}
<br><br><br>