{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<form action='/employee/registerProduct' method="POST" enctype="multipart/form-data">
<br>
<br>
<div class="home_title"><h2 style="font-size:40px">Enter the product information</h2>
        <br>
        <br>
        <label style="color:white ">Code
            <br>
            <input type="text" name="code" id="code">
        </label>
        <br>
        <br>
        <label style="color:white">Name
            <br>
            <input type="text" name="name" id="name">
        </label>
        <br>
        <br>
        <label style="color:white">Description
            <br>
            <input type="text" name="description" id="description">
        </label>
        <br>
        <br>
        <label style="color:white">Price
            <br>
            <input type="text" name="price" id="price">
        </label>
        <br>
        <br>
        <label style="color:white">Quantity
            <br>
            <input type="text" name="quantity" id="quantity">
        </label>
        <br>
        <br>
        <label style="color:white">Supermarket name
            <br>
            <input type="text" name="nameSupermarket" id="nameSupermarket">
        </label>
        <br>
        <br>
        <label style="color:white">Photo
            <br>
            <input type="file" name="photo" id="photo" accept="image/png, image/jpeg">
        </label>
        <br>
        <br>
        <button class="btn btn-primary" type="submit"> Create</button>
        <br>
        <br>
        </div>
    </form>
    <script></script>