{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<form action='/employee/selectEditSupermarket' method="POST">
<br>
<br>
<div class="home_title"><h2 style="font-size:40px">Enter the supermarket information</h2>
        <br>
        <br>
        <label style="color:white ">Supermarket name
            <br>
            <input type="text" name="supermarketName" id="supermarketName">
        </label>
        <br>
        <br>
        <button class="btn btn-primary" type="submit"> Search</button>
        <br>
        <br>
        </div>
    </form>