{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{#each success}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<form action='/client/addProducts' method="POST">
<br>
<br>
<div class="home_title"><h2 style="font-size:40px">Enter the product information</h2>
        <br>
        <br>
        <label style="color:white ">Product code
            <br>
            <input type="text" name="idProduct" id="idProduct">
        </label>
        <br>
        <br>
        
        <label style="color:white ">Quantity
            <br>
            <input type="text" name="quantity" id="quantity">
        </label>
        <br>
        <br>
        
        <button class="btn btn-primary" type="submit"> Add Products</button>
        <br>
        <br>
        </div>
    </form>

    <form action='/client/finishPurchase' method="POST">
        <button class="btn btn-primary" type="submit"> Finish Purchase</button>
        <br>
        <br>
    </form>