{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<form action='/client/registerPurchase' method="POST">
<br>
<br>
<div class="home_title"><h2 style="font-size:40px">Enter the purchase information</h2>
        <br>
        <br>
        <label style="color:white ">Sucursal name
            <br>
            <input type="text" name="supermarketName" id="supermarketName">
        </label>
        <br>
        <br>
        <label style="color:white ">Status
            <br>
            <select type="text" id="status" name="status" style="width:180px">
                <option>Registered</option>
                <option>Assigned</option>
                <option>On Route</option>
                <option>Delivered</option>
            </select>
        </label>
        <br>
        <br>
        <label style="color:white ">Extra information
            <br>
            <input type="text" name="extraInformation" id="extraInformation">
        </label>
        <br>
        <br>
        
        <button class="btn btn-primary" type="submit"> Add Products</button>
        <br>
        <br>
        </div>
    </form>