<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TECPlane</title>
    <h1 class="display-4" >Welcome to TEC Market</h1>
    <br>
    <br>
    <h1> Choose the option to add the new sucursal</h1>
    <br>
    <form action="/manage/byName">
    <button class="btn btn-primary" type="submit"> Add new sucursal by location</button>
    </form>
    <br>
    <br>
    <form action="/manage/byLatLng">
    <button class="btn btn-primary" type="submit"> Add new sucursal by Latitude and Longitude </button>
    </form>
    <br>
    <br>
</head>
<body>
    
</body>
</html>