<form action='/add/searchByLatLng' method="POST">
<br>
<br>
<div class="home_title"><h2 style="font-size:40px">Enter the supermarket information</h2>
        <br>
        <br>
        <label style="color:white ">Latitude
            <br>
            <input type="text" name="latitude" id="latitude">
        </label>
        <br>
        <br>
        <label style="color:white">Longitude
            <br>
            <input type="text" name="longitude" id="longitude">
        </label>
        <br>
        <br>
        <button class="btn btn-primary" type="submit"> Create</button>
        <br>
        <br>
        </div>
    </form>