<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TECPlane</title>
    <h1 class="display-4" >Welcome to TEC Market</h1>
    <br>
    <br>
    <h1> Please choose an option about sucursals</h1>
    <br>
    <form action="/manage/add">
    <button class="btn btn-primary" type="submit"> Add sucursal</button>
    </form>
    <br>
    <br>
    <form action="/gestionar/producto">
    <button class="btn btn-primary" type="submit"> Add products in a sucursal</button>
    </form>
    <br>
    <br>
    <form action="/gestionar/consultar">
    <button class="btn btn-primary" type="submit"> Consult Sucursal</button>
    </form>
    <br>
    <br>
</head>
<body>
    
</body>
</html>